<%- include("partials/header"); %>


<h1 class="main-heading">Vivek Saurabh</h1>

<div class="container-fluid">
  <div class="row">
    <%  posts.forEach(function(post){ %>
    <div class="posts col-lg-4 col-md-4 col-sm-12">
      <h2><%=post.title%></h2>
      <pre>
      <p><%=post.content.substring(0, 100)+" ..."%>
<a href="/posts/<%=post._id%>">Read More</a></p>
      </pre>

    </div>

    <% }) %>
  </div>

</div>



<%- include("partials/footer"); %>
